".env" 
.env 

# SQLite database
db.sqlite3

# Python cache files
__pycache__/
*.pyc



# Virtual environment
.venv/

# Media uploads
media/
#>>>>>>> dd1c68e (Player form setup, dashboard fixes, event updates)
