# Production & Server
Django==5.2.7
gunicorn
whitenoise[brotli]
psycopg2-binary
dj-database-url
python-dotenv

# Authentication & UI
django-allauth
django-crispy-forms
crispy-bootstrap5

# Project Features
requests
pillow
feedparser
python-decouple
twilio

