
{% extends 'homepage/base.html' %}
{% load static %}
        {% block title %}News - SportsBoard{% endblock %}
        {% block content %}


    <h1>SportsBoard - Latest Sports News</h1>
    <div id="news-feed">
        {% for article in articles %}
            <div class="news-card">
                <h2><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></h2>

<!--                {{ article.summary|truncatewords:30 }}-->
               <p>
                    {{ article.content|striptags}}
                </p>

                <span>{{ article.source }} | {{ article.published }}</span>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/news.js' %}"></script>

{% endblock %}


